body {
    background-color: #ebf0f7;
    font: 16px Montserrat;
    vertical-align: center;
    height: 100%;
}

.icontext_list {
  list-style-type: none;
  padding-left: 0;
}

#autorization_view {
  float: right;
  margin: 20px;
  padding: 20px;
  background-color: #475069;
}

#map {
    height: 500px;
    width: 100%;
}

.left_icon {
    height: 17px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

#greeting-container {
  margin-top: 20px;
}

.comment-view {
    background-color: #8e9fbb;
    margin: 10px;
    padding: 10px;
}

.email {
    font-weight: bold;
    font-size: 11px;
    margin: 4px;
    float: right;
}

.comment-message {
    font-size: 16px;
    margin: 0;
}
