body {
    background-color: rgb(233, 247, 255);
    font: 16px Montserrat;
}

img {
    height: 20px;
    margin: 5px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

#greeting-container {
  margin-top: 20px;
}
